/*style boutons*/
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  gap: 10px;
}
.btn {
  border-width: 1px;
  border-radius: 60px;
  border-color: #1d6154;
  font-family: "Syne";
  font-weight: 700;
  padding: 8px 10px;
  background-color: white;
  cursor: pointer;
}
.btn-selected {
  background-color: #1d6154;
  color: white;
  border: #1d6154;
  cursor: pointer;
}

/*style pour login page d'accueil*/
.link {
  text-decoration: none;
  color: black;
}

/*modifier*/
.modify {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
  gap: 30px;
}
.modifier {
  cursor: pointer;
  margin-bottom: 1.6em;
  display: flex;
  gap: 15px;
}

/*Message erreur modale*/
.msg-error {
  background-color: #b90000;
  color: white;
  padding: 10px 0px;
  font-weight: 500;
  width: 100%;
  align-self: center;
  text-align: center;
}
