/*Modale*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  &__content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 630px;
    height: 670px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &--title {
      font-family: "Work Sans";
      font-size: 26px;
      text-align: center;
      font-weight: 400;
      margin: 20px 0px;
    }

    &--button {
      width: 237px;
      height: 36px;
      border-radius: 60px;
      border: none;
      background-color: #1d6154;
      color: white;
      font-family: "Syne";
      font-size: 14px;
      font-weight: 700;
      margin-top: 20px;
      cursor: pointer;
    }

    &--slash {
      width: 420px;
      height: 1px;
      color: #b3b3b3;
      margin-bottom: 30px;
    }

    &--icon {
      color: black;
      float: right;
      font-size: 22px;
      align-self: flex-end;
      cursor: pointer;
    }
  }
}

/*Modale container figures*/

.modal__content--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 65%;
  height: 60%;
  gap: 20px;

  & figure {
    flex: 1;
    position: relative;
  }
  & figure img {
    height: 104px;
  }
  & figure div {
    position: absolute;
    top: 5px;
    right: 15px;
    background-color: black;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & i {
      color: white;
    }
  }
}
