@charset "UTF-8";
/*style boutons*/
.boutons {
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  border-width: 1px;
  border-radius: 60px;
  border-color: #1d6154;
  font-family: "Syne";
  font-weight: 700;
  height: 37px;
  background-color: white;
  margin-right: 10px;
}

.btn-selected {
  background-color: #1d6154;
  color: white;
  border: #1d6154;
}

.btn-all {
  width: 100px;
}

.btn-objet {
  width: 100px;
}

.btn-appart {
  width: 157px;
}

.btn-hotels {
  width: 178px;
}

/*style pour login page d'accueil*/
.login__index {
  text-decoration: none;
  color: black;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  /*modification pour la bannière*/
  margin-top: 80px;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/*style page login*/
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login h2 {
  margin-bottom: 50px;
}

#login form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#login label {
  text-align: right;
}

#login input {
  width: 379px;
  height: 51px;
  font-size: 14px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-bottom: 25px;
}

#login button[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin-top: 16px;
  width: 179px;
  height: 36px;
  border-radius: 60px;
  border: none;
  align-self: center;
  margin-bottom: 15px;
}

#login a {
  color: #3d3d3d;
  margin-top: 1em;
}

/*Message erreur*/
.erreur-login {
  background-color: #b90000;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  width: 359px;
  text-align: center;
}

/*Banner*/
.banner {
  background-color: black;
  color: white;
  width: 100%;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 10px;
  top: 0;
  left: 0;
}

/*Modale*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 630px;
  height: 670px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.modal__content--title {
  font-family: "Work Sans";
  font-size: 26px;
  text-align: center;
  font-weight: 400;
  margin: 20px 0px;
}
.modal__content--button {
  width: 237px;
  height: 36px;
  border-radius: 60px;
  border: none;
  background-color: #1d6154;
  color: white;
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}
.modal__content--slash {
  width: 420px;
  height: 1px;
  color: #b3b3b3;
  margin-bottom: 30px;
}
.modal__content--icon {
  color: black;
  float: right;
  font-size: 22px;
  align-self: flex-end;
  cursor: pointer;
}

/*Modale container figures*/
.modal__content--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 65%;
  height: 60%;
  gap: 20px;
}
.modal__content--container figure {
  flex: 1;
  position: relative;
}
.modal__content--container figure img {
  height: 104px;
}
.modal__content--container figure div {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: black;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal__content--container figure div i {
  color: white;
  font-size: 12px;
}

/*modale pour ajouter photos*/
.add {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.add__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 630px;
  height: 670px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.add__content--arrow {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 18px;
  cursor: pointer;
}
.add__content--xmark {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
}
.add__content--title {
  font-family: "Work Sans";
  font-size: 26px;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: 70%;
  gap: 10px;
}
.form__content {
  background-color: #e8f1f6;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 20px;
}
.form__content--label {
  background-color: #cbd6dc;
  border-radius: 50px;
  width: 173px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #306685;
  cursor: pointer;
  margin-bottom: 8px;
}
.form__content--input {
  display: none;
}
.form__content--img {
  color: #b9c5cc;
  font-size: 5em;
  margin-bottom: 7px;
}
.form__content label {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 14px;
  color: #3d3d3d;
}
.form__content--button {
  width: 237px;
  height: 36px;
  border-radius: 60px;
  border: none;
  background-color: #a7a7a7;
  color: white;
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  align-self: center;
}

.form input[type=text] {
  width: 100%;
  height: 51px;
  border: none;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.0901960784);
}

.form select {
  width: 100%;
  height: 51px;
  border: none;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.0901960784);
}/*# sourceMappingURL=style.css.map */